<h1>Bienvenido a Sinatra!</h1>
<p>Este es un esqueleto de sinatra que armamos para ti</p>

<form action="/cool_url" method="get">
  <input type="text" name="texto1" placeholder="Escribe lo que quieras"><br><br>
  <input type="radio" name="radio1" value= "button">hembra<br>
  <input type="radio" name="radio2" value= "button">macho<br><br>
  <input type="checkbox" name="checkbox1" value= "check">perro<br>
  <input type="checkbox" name="checkbox1" value= "check">gato<br><br>
  <input type="submit"><br><br><br>
</form>

<form action="/cool_url" method="post">
  <input type="text" name="post[title]">
  <input type="text" name="post[price]">
  <textarea name="post[description]"></textarea>
</form>

  
