<h1>Post_cool_url</h1>

<form action="/cool_url" method="get">
    <input type="text" name="texto1" placeholder="Escribe lo que quieras">
    <input type="submit">
</form>

<form action="/cool_url" method="post">
    <input type="text" name="texto2" placeholder="Nombre">
    <input type="submit">
</form>